<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AlumniTrackingSystem</display-name>
  <context-param>
    <param-name>chatpropertyfile</param-name>
    <param-value>chat.properties</param-value>
  </context-param>
  <context-param>
    <param-name>saveRooms</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>adminEmail</param-name>
    <param-value>pulgamsanjeev@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>sessionTimeout</param-name>
    <param-value>30</param-value>
  </context-param>
  <context-param>
    <param-name>refreshAfter</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>maxNoOfMessages</param-name>
    <param-value>25</param-value>
  </context-param>
  <listener>
    <listener-class>com.ats.util.SessionListener</listener-class>
  </listener>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>pulgamsanjeevniit@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>lucky@1234</param-value>
  </context-param>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.ats.controller.SignIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>signup</servlet-name>
    <servlet-class>com.ats.controller.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>College</servlet-name>
    <servlet-class>com.ats.controller.Spoc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.ats.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Chat</servlet-name>
    <servlet-class>com.ats.controller.ChatServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet>
    <servlet-name>Feed</servlet-name>
    <servlet-class>com.ats.controller.FeedServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailSending</servlet-name>
    <servlet-class>com.ats.controller.EmailSendingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Chats</servlet-name>
    <servlet-class>com.ats.controller.ChatLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageChat</servlet-name>
    <servlet-class>com.ats.controller.ManageChatServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>SaveInfo</servlet-name>
    <servlet-class>com.ats.controller.SaveInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feeds</servlet-name>
    <url-pattern>/feeds</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>College</servlet-name>
    <url-pattern>/college</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Chat</servlet-name>
    <url-pattern>/chat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailSending</servlet-name>
    <url-pattern>/email</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageChat</servlet-name>
    <url-pattern>/managechat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Chats</servlet-name>
    <url-pattern>/chatlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveInfo</servlet-name>
    <url-pattern>/saveinfo</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>